.navigation {
  width: 100%;
  @include reset;
  background-color: $light-green;
}

.navigation__wrapper {
  width: $desctop-width;
  @include blockCenter;
  position: relative;
}

.navigation nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  list-style: none;
  @include reset;
}

.navigation__list-item {
  @include reset;
  text-align: center;
  flex-wrap: wrap;

  &:hover,
  &:focus {
    background-color: $light-green-hover;
  }

  &:first-child {
    margin-left: -22px;
  }
}

.navigation__link {
  display: block;
  padding: 12px 22px 12px;
  margin: 0;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  &--available {
    position: relative;
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-25%);
      background-image: url("../img/ok.svg");
      background-repeat: no-repeat;
      background-size: 12px;
    }
  }
  &--sale {
    position: relative;
    padding: 12px 24px 12px;

    &::before {
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-35%);
      background-image: url("../img/procent.png");
      background-repeat: no-repeat;
      background-size: 14px;
    }
  }

  &--gift {
    position: relative;
    padding: 12px 24px 12px;
    &::before {
      content: '';
      width: 16px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      background-image: url("../img/gift.svg");
      background-repeat: no-repeat;
      background-size: 16px;
    }
  }
}

.navigation__form {
  @include reset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navigation__button {
  width: 16px;
  height: 100%;
  padding: 0 16px;
  margin: 0;
  background-color: $no-color;
  background-image: url("../img/search-log.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  z-index: 100;

  &:hover,
  &:focus {
    background-color: $light-green-hover;
  }
}

.navigation__search {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  padding: 6px 0 11px;
  background-color: $light-green;

  &--open {
    display: block;
  }
}

.navigation__search-field {
  width: 100%;
  background-color: $light-green;
  border: none;
  border-bottom: 1px solid $white;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $white;
  padding-left: 10px;
  padding-right: 25px;
}

@media (max-width: $tablet-max-width) {
  .navigation {
    display: none;
  }
}
