.watched {
  width: 100%;
  @include reset;
  overflow: hidden;
  margin-bottom: 70px;
}

.watched__title {
  display: block;
  @include reset;
  margin-bottom: 37px;
  padding-left: 40px;
  text-align: center;
  font-family: "Circ-Light", sans-serif;
  font-weight: 200;
  font-size: 26px;
  line-height: 45px;
  margin-right: 45px;
}
.watched__goods {
  @include reset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.watched__item {
  width:325px;
  border: 1px solid $light-grey-border;
  cursor: pointer;
  &:not(:last-child) {
    border-right: none;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 10px $grey-light-icon;
  }
}

.watched__item-info {
  width: 321px;
  overflow: hidden;
  @include reset;
  padding: 28px 40px 0;

}

.watched__item-img {
  width: 320px;
  height: 320px;
}

.watched__item-title {
  display: block;
  @include reset;
  color: $light-green;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 22px;
}

.watched__item-text {
  @include reset;
  padding-top: 16px;
  font-size: 16px;
  line-height: 22px;
}

.watched__item-price {
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}


.watched__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.watched__btn-left,
.watched__btn-right {
  width: 25px;
  height: 20px;
  @include reset;
  border: none;
  background-color: $no-color;
}

.watched__btn-left {
  transform: rotate(180deg);
  margin-right: 15px;
}

.watched__btn-right-img,
.watched__btn-left-img {
  width: 25px;
  height: 20px;
  fill: $grey-font;

  &:hover,
  &:focus {
    fill: $light-green-hover;
  }
}

@media (max-width: $tablet-max-width) {
  .watched__goods {
    margin-left: -325px;
  }
}